---
---

@import "{{ site.theme }}";


//// 1) to tweak the navigation on the side
nav ul {
 // list-style-type: square; // does not seem to work!
}

nav ul li {
  display: block;
  font-size: 20px;
}


//// 2) colors
// http://www.colorsontheweb.com/colorwizard.asp#wizard, used start set: 6C5F97
// \definecolor{coltitre}{HTML}{6C5F97}
// \definecolor{collight}{HTML}{A49CC0}
// \definecolor{coldark}{HTML}{3F3858}

h1, h2 {
  color:#3F3858;
  margin:0 0 20px;
}

h3, h4, h5, h6 {
  color:#6C5F97;
  margin:0 0 20px;
  text-align: center; /* Center-align the text */
}

a {
  color:#3F3858;
  text-decoration:none;
}

a:hover, a:focus, strong {
  color:#3F3858;
}

//// 3) research list
.rlist ul {
  list-style-type: none; /* or disc */
  margin-left: 0px; /* Add left margin for indentation */
}

.rlist li {
  margin-bottom: 10px; /* Add space between list items */
}


//// 4) Footer, not used
footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:20px;
  -webkit-font-smoothing:subpixel-antialiased;
}
