---
---

@import "{{ site.theme }}";

nav ul {
 // list-style-type: square; // does not seem to work!
}

nav ul li {
  display: block;
  font-size: 20px;
}

// http://www.colorsontheweb.com/colorwizard.asp#wizard, used start set: 6C5F97
 // \definecolor{coltitre}{HTML}{6C5F97}
// \definecolor{collight}{HTML}{A49CC0}
// \definecolor{coldark}{HTML}{3F3858}

a {
  color:#3F3858;
  text-decoration:none;
}

a:hover {
  color:#3F3858;
}

a:active {
  color:#3F3858;
}

//das

a small {
  font-size:11px;
  color:#737373;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#737373;
}

h1, h2, h3, h4, h5, h6 {
  color:#737373;
  margin:0 0 20px;
}

strong {
  color:#737373;
  font-weight:500;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#737373;
}

dt {
  color:#737373;
  font-weight:500;
}

th {
  color:#737373;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#737373;
}


