---
---

@import "{{ site.theme }}";

nav ul {
 // list-style-type: square; // does not seem to work!
}

nav ul li {
  display: block;
  font-size: 20px;
}

// http://www.colorsontheweb.com/colorwizard.asp#wizard, used start set: 6C5F97
 // \definecolor{coltitre}{HTML}{6C5F97}
// \definecolor{collight}{HTML}{A49CC0}
// \definecolor{coldark}{HTML}{3F3858}

h1, h2, h3, h4, h5, h6, strong {
  color:#6C5F97;
  margin:0 0 20px;
}

a {
  color:#3F3858;
  text-decoration:none;
}

a:hover, a:focus {
  color:#3F3858;
}
